<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div style="text-align: center;">
    <h1>404 Not Found</h1>
    <h1>;-(</h1>
</div>
</body>
</html>