<%-include('component/header')%>
<script src="/js/main.js"></script>
<script src="/socket.io/socket.io.js"></script>

<ul class="js-msg" id="messages"></ul>
<form action="" class="js-form">
    <input id="m" autocomplete="off" autofocus="autofocus" /><button class="js-send">execute</button>
</form>

<%-include('component/footer')%>